.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    max-width: 1440px;
    min-width: 1100px;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 92px; 
    margin-bottom: 77px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: 
    "header_menu header_logo address";
}

.nav {
    display:flex;
    margin-top: 43px;
    margin-bottom: 43px;
}

.menu {
    display: flex;
}

.header_menu {
    margin-right: -10px;
    margin-bottom: 10px;
}

.header_links_list {
    list-style-type: circle;
    display: flex;
    gap: 38px;
    font-weight: 200;
    font-size: 17px;
}

.header_links-item {
    white-space: nowrap;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address {
    display: flex;
    line-height: 24px;
    font-size: 18px;
}

.header_address {
    text-align: left;
    margin-top: -10px;
    margin-left: 190px;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 135px;
    height: 119px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.cover {
    position: relative;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 1440px;
    min-width: 1100px;
    justify-content: center;
}

.cover_title {
    width: 100%;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0px;
    margin-top: 50px;
    margin-left: -8px;
    z-index: 2;
}

.accent-span {
    display: block;
    color: white;
    letter-spacing: 30px;
}

.aligned-text {
    margin-top: 173px;
    margin-left: 57px;
}

.aligned-text_center {
    margin-top: 127px;
    text-align: center;
    margin-left: 97px;
    margin-right: 110px;
}

.aligned-text_right {
    margin-top: 121px;
    text-align: right;
    margin-right: 11px;
}

.letter-spacing-extended {
    margin-left: -20px
}
.no-letter-spacing {
    margin-right: -20px;
}

.overlay {
    background-color: rgba(0,0,0,0.6);
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.undercover {
    display: flex;
    color: white;
    align-items: flex-end;
    width: 100%;
    z-index: 2;
    margin-top: 185px;
}
.undercover_text {
    margin-bottom: 62px;
    margin-left: 422px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 23px;
    word-spacing: 21px;
}

.bet {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
    z-index: 2;
}

.cover_button {
    background: transparent;
    color: white;
    border-color: white;
    font-size: 22px;
    text-transform: uppercase;
    width: 257px;
    height: 52px;
    word-spacing: -2px;
    font-family: inherit;
    cursor: pointer;
    border-style: inset;
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.lots {
    margin-top: 178px;
    display:flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 1440px;
    min-width: 1100px;
}

.lots_heading {
    margin-bottom: 27px;
    font-size: 27px;
    width:100%;
    text-transform: uppercase;
    margin-left: 90px;
}

.lots_title {
    text-transform: uppercase;
    text-decoration: underline;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 22px;
    margin-top: 4px;
    z-index: 2;
}

.card_list {
    width:100%;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    color:white;
    font-size: 20px;
}

.lots_list {
    width: 430px;
    position: relative;
}
.card_behavior {
    padding: 45px 40px 50px 40px;
    display: grid;
    text-decoration: none;
}

.card_content {
    z-index: 2;
    font-weight: 400;
    line-height: 120%;
}

.card_content_movie {
    margin-top: 202px;
}

.card_content_book {
    margin-top: 30px;
}

.card_content_picture {
    margin-top: 84px;
}

.card_movie {
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_book {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lots_link {
    padding-left: 90px;
    font-size: 20px;
    margin-top: 30px;
}

.about {
    display: grid;
    margin-top: 281px;
    max-width: 1440px;
    min-width: 1100px;
    grid-template-areas: 
    "about_logo about_content";
}

.about_logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin-left: 145px;
    margin-top: -100px;
}

.about_logo-image {
    width: 148px;
    height: 114px;
    margin-top: 63px;
    margin-left: 45px;
    background-image: url("../images/logo-white.svg"); /*не видно, так как белое, нужен чёрный фон*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_content {
    font-size: 20px;
    margin-left: 120px;
    padding-right: 50px;
}

.about_content h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about_text {
    margin-top: 25px;
    line-height: 24px;
}

.footer {
    display: grid;
    max-width: 1340px;
    min-width: 1100px; 
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas:"address menu footer__social-list";
    margin-top: 180px;
    margin-bottom: 90px;
    width: 100%;
}

.footer_address {
    width: 300px;
    justify-items: center;
}

.address_link {
    text-decoration: none;
}

.footer_menu {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    justify-items: center;
}

.footer_links_list {
    list-style-type: none;
}

.footer__social-list-item {
    display: flex;
    list-style-type: none;
    gap: 48px;
    margin-left: 140px;
    justify-content: flex-end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}